<form action='/links' method='POST'>
<label for ='URL'>
  URL:
  <input type='text' name='URL'/>
</label>
<label for='Title'>
Title:
  <input type='text' name='Title'/>
</label>
  <input type="submit" value="Save bookmark">
</form>
